.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
}

.layout__main {
    flex: 1;
    margin-top: var(--header-height);
    padding-top: var(--space-8);
    padding-bottom: var(--space-8);
    width: 100%;
}